/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

bar colour				barc			#595864
background colour       rbg             #faf8f8
header-footer text		rhft			#faf8f8
link colour				rlc				#3f3e4a

*/

body {
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
	font-size: 100%;
	line-height: 1.25em;
	background-color: #faf8f8;
}

p, li {
    font-size: 1em;
}

html, body {
  overflow-x: hidden;
}

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	display: block;
	font-size: 2.125em;
	vertical-align: baseline;	
}

h2	{
	text-transform: lowercase;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.8em;
}

h3	{
	font-size: 1.25em;
	font-style: italic;
	font-weight: 500;
}

a:visited, a:link, a:active {
	color: #3f3e4a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.illuminated {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.17em;
}

#topbar {
	background-color: #595864;
}

div.navi-bar {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-size: 140%;	
}

div.page-footer {
	font-size: 10px;
	line-height: 15px;
	text-align: center;
}

div.navi-bar {
	text-transform: capitalize;
	font-weight: 800;
	font-family: 'Alegreya Sans SC', sans-serif;
	vertical-align: middle;
}


#sitetitle {
	float:left;
	font-weight: 800;
	font-family: 'Alegreya Sans SC', sans-serif;
	display: inline;
	margin: 0;
	padding-top: 10px;
	width: 150px;
	vertical-align: middle;
}

span.illuminate{
	font-family: 'Alegreya Sans SC', sans-serif;
}

a.bar-link {
	color: #eee6aa;
}

a.navi-link{
	display: block;
	width: 80px;
	padding-top: 10px;
	vertical-align: text-bottom;
}

div.navi-bar ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
   
div.navi-bar li{
   float:left;
}

div.content {
	width: 80%;
	margin: 0 auto;
}

#footer {
	border-top: 3px solid #22222;
	background-color: #595864;
	color: #faf8f8;
	padding-bottom: 20px;
	overflow: hidden;
	float: none;
	text-align: center;
}

footer {
	font-size: 80%;
}



div.wrapper{
padding: 0 10px;
width: 94%;
max-width: 1300px;
margin: auto;
}

div.footer-left{
	padding-top: 20px;
	width: 40%;
	float:left;
	text-align: left;
}

div.footer-right{
	padding-top: 20px;
	width: 40%;
	margin-left: 5%;
	float:left;
	text-align: left;
}

div.footer-right::after, div.wrapper::after, div.content::after{
content: "";
display: table;
clear: both;
}

footer {
margin-top: 50px;
}


#blog-archive {
	float: right;
	display: block;
}

.caption{
	font-style: italic;
	font-size:80%;
	
}

div.copyright {
	font-style: italic;
	width: 100%;
	display:block;
}

div.copyright p{
	color: #000000;
}

img {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

.image-left {
   float: left;
   margin: 0 1em 1em 0;
}

#avatar {
   border-radius: 50em;
   vertical-align:middle;

}


hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #000000;
}

hr.seperator {
 	height: 5px;
 	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
}

.badge {
background: #e0e3e5;
font-size: 0.875em;
display: inline-block;
line-height: 1;
padding: 4px 7px 3px 7px;
color: #0f0f0f;
text-align: center;
font-weight: normal;
text-transform: uppercase;
}

.badge-small {
font-size: 0.8em;
padding: 3px 5px;
}
