/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

bar colour				barc			#595864
background colour       rbg             #faf8f8
header-footer text		rhft			#faf8f8
link colour				rlc				#3f3e4a

*/

div.contact-div{
	float:right;
	font-size:80%;
}


.sidebar {
    text-align: center;
	padding-top: 1rem;
	padding-right: 0.5rem;
	padding-bottom: 2rem;
	padding-left: 0.5rem;
	background-color: #595864;
}

#header {
	font-family:'Alegreya', serif;
    color: #EEE6AA;	
}

.sidebar a{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size:18px;
	color: rgba(255,255,255,0.8);
	text-decoration:none;
	border-style:none
}

a{
	color:#3f3f3f;
	text-decoration:none;
	border-bottom:dotted 1px #a1a3a1;
	background-color:inherit
}

a:hover,a:focus{
	color:#3f3f3f;
	border-bottom:solid 1px;
	text-decoration:none
}

.content a, a:hover{
	color:#3f3f3f;	
}

.copyright {
	font-style: italic;
	font-size: 80%;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bbb;
}

hr.footer {
  display: block;
  height: 5px;
  border: 0;
  border-top: 3px solid #bbb;
}

.navbar {
	margin: auto auto;
	display: table;
}

.navbar a:hover {
  color: #EEE6AA;
  text-decoration: underline;
}

.navbar li:last-child {
  float: left;
  margin-right: 0em;
}

div.navigation {
    text-align: center;
	padding-top: 1rem;
	padding-right: 0.5rem;
	padding-bottom: 2rem;
	padding-left: 0.5rem;
	background-color: #595864;
}

div.navigation a{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: rgba(255,255,255,0.8);
	border-style:none;	
}

span.illuminate{
	font-family: 'Alegreya Sans SC', sans-serif;
}

.image-left {
   float: left;
   display:block;
   margin: 0 1em 1em 0;
   padding:0;
   width:33%;
}

#avatar {
   border-radius: 50em;
   vertical-align:middle;
   margin-top: 1.125em;

}

#header {
	font-family:'Alegreya', serif;
	font-style: normal;
    color: #EEE6AA;	
}

.page-title{
	font-size: 200%;
	padding-top: 0.5em;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #aaa;
}

hr.header-rule{
	padding-top: 0;
}

/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'Alegreya', Times, Serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
}
h1, h2, h3, h4, h5 {
	font-family: 'Alegreya',  Helvetica, Arial, sans-serif;
	font-style: italic;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'Alegreya SC', sans-serif;
	font-style: normal;
}